<!-- student page -->
<!DOCTYPE html>

<html>
    <head>
        <!--<title>INTERNet</title> -->
        <meta name = "description" content = "home page for intern web application">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
        <link href="/css/studenthomepage.css" rel="stylesheet" type="text/css">
        <link href="https://fonts.googleapis.com/css?family=Bebas+Neue|Lato|Monteserrat|M+PLUS+Rounded+1c|Poppins&display=swap" rel="stylesheet">
    </head>

    <body id = "page">
        <header>
            <div class = "logo">
                <p id = "username"><%= student.name%></p>
            </div>
            <div class = "header">
                <div class = "nolist">
                    <ul id = "biglist">
                        <li><input type="text" placeholder="Search.."></li>
                        <li><a id = "about" href="#aboutme">Account</a></li>
                        <li><a id = "accomplishments" href="#accomplish">Logout</a></li>
                    </ul>
                </div>
            </div>
        </header>

        <div id = "job offers">
            <div id = "jobtext">
                <p>Job Offers:</p>
            </div>

<% startups.forEach(startup => { %>
<% startup.jobs.forEach(job => { %>
            <div class="row">
                <div class="column1">
                  <div class="card">
                    <img src = "/images/comp.png" id = "complogo">
                    <p><%= startup.name %></p>
                  </div>
                </div>
              
                <div class="column2">
                  <div class="card">
                      <div>
                        <h3 id = "job"><%= job.title %> </h3>
                      </div>
                    <p><<%= job.description %></p>
                  </div>
                </div>
                
                <div class="column3">
                  <div class="card">
                      <div>
                        <h3>Matched Skills</h3>
                        <p><%=job.skills%></p>
                      </div>
                  </div>
                </div>
                
                <div class="column4">
                  <div class="card">
                      <div>
                        <h3>Contact</h3>
                      </div>
                  </div>
                </div>
              </div>

           <% })}); %>



            <!--<div id = "job tables">
                <table id = "jobt">
                    <tr id = "jobrow">
                        <table id = "leftside">
                            <tr>
                                <td id = "eek2">
                                    <div class = "complogo">
                                        <img src = "images/comp.png" id = "complogo">
                                    </div>
                                </td>
                                <td id = "eek">
                                    <table id = "JOBDESCRIPT">
                                        <tr id = "jobin">
                                            <td id = "jobtextlol">
                                                <p>Job</p>
                                            </td>
                                            <td id = "jobtit">
                                                <p>Title</p>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td id = "description">
                                                <p>My Company description lmfaoooo</p>
                                            </td>
                                        </tr>
                                    </table>
                                </td>
                            </tr>
                        </table>

                        <table id = "rightside">
                            <tr>
                                <td id = "skills">
                                    <p>Example Matched Skills: Java, HTML, CSS, Node.js</p>
                                </td>
                                <td id = "contact">
                                    <p>Contact company</p>
                                </td>
                            </tr>
                        </table>


                    </tr>
                </table>
            </div> -->

        </div>

    </body>
</html>

